
footer {
    margin-top: 20px;
    background-color: #202020;
    color: #fff;
    max-width: 100%;
    height: auto;
    padding: 50px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
    font-size: small;
  }
  
  footer p {
    color: #fff;
  }
  footer h5 {
    font-size: 14px;
  }
  footer p {
    font-size: small;
  }
  