.village-info-head{
    color: rgb(118,39,135);
    font-size: xx-large;
    font-weight: 700;
    font-family: "Iceland",cursive;
}
.village-info-field{
    border: 1px solid black;
    box-shadow: 2px 2px grey;
}
.village-info-para{
    font-weight: 600;
  
  
   
}

#notification-btn{
    margin-left: 8px;
    width: 98%;
}
.radio-type-1:after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.radio-type-1:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #066f27;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.radio-type-2:after{
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.radio-type-2:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ff0000;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}